/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.app-background {
  background: #d0d4db;
}
